@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(33, 33, 33);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.form-shadow{
    box-shadow: 0 0 24px 0 rgba(107, 243, 49, 0.4);
}

.form-label {
    color: #bfbfbf;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.link{
    color: white;
    font-size: 14px;
    font-weight: lighter;
    text-decoration: underline;

    &:hover{
        color: rgb(200, 200, 200);
        cursor: pointer;
    }
}

tbody tr th{
    background-color: rgb(211, 211, 211);
    overflow-wrap: break-word;
    color: black;
    border-bottom: 1px solid #888888;
}

.filter-active{
    padding: 10px 16px;
    margin-right: 5px;
    border-radius: 8px;
    border: none;
    background-color: rgb(55, 55, 55);
    color: white;
    font-size: 16px;
    align-items: center;

    &:hover{
        background-color: rgb(55, 55, 55);
        cursor: pointer;
    }
}

.filter-inactive{
    padding: 10px 16px;
    margin-right: 5px;
    border-radius: 8px;
    border: none;
    background-color: rgb(35, 35, 35);
    color: white;
    font-size: 16px;
    align-items: center;

    &:hover{
        background-color: rgb(55, 55, 55);
        cursor: pointer;
    }
}